@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.main-wrapper {
    padding: 190px 0;
  }
  .tools-wrapper {
    padding: 200px 0;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
	.main-wrapper {
    padding: 100px 0;

    &__circle {
      margin: 0 auto;
    }

    &__text-block {
      margin: 35px auto;
      text-align: center;
      h1 {
        font-size: 30px;
      }
    }

    .button {
      display: block;
      margin: auto;
    }
  }

  .tools-wrapper {
    padding: 180px 0;
  }

  .contact-wrapper {
    padding: 250px 0;
    &__contact-cont {
      .contact-icons {
        width: 60%;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {

  .navbar {
    .navbar-nav {
      margin-top: 15px;
    }
  }
  
  .main-wrapper {
    padding: 50px 0 180px 0;

    &__circle {
      height: 270px;
      width: 270px;
    }

    &__icons {
      position: absolute;
      bottom: -3.5%;
      right: 50%;
      transform: translate(50%, -50%);
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      margin-bottom: 0;
    }
  }
  
  .tools-wrapper {
    padding: 160px 0;
  }

  .contact-wrapper {
    padding: 180px 0;
    &__contact-cont {
      // min-height: 250px;
      .contact-icons {
        width: 70%;
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {

    .navbar {
      .navbar-brand {
        font-size: 17px;
      }
    }

  .main-wrapper {

    &__text-block {
      h1 {
        font-size: 26px;
      }
    }

    &__icons {
      width: 85%;
    }
  }

  .tools-wrapper {
    padding: 155px 0;
  }

  .contact-wrapper {
    padding: 210px 0;
    &__contact-cont {
      // min-height: 250px;
      .contact-icons {
        width: 100%;
      }
    }
  }

  .resume-wrapper {
    padding: 50px 0;
  }
  
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
