@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $bg-color;
}

html, body {
  height: 100%;
}

// LOADER 
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  // background-color: $dark;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $accent;
  animation: spin 2s linear infinite;
  z-index: 1001;
  
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $accent;
    animation: spin 3s linear infinite;
  }
  
  &::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $accent;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0%    {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}

#loader-wrapper {
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $dark;
    z-index: 1000;
    &.section-left {
      left: 0;
      
    }
    &.section-right {
      right: 0;
    }
  }
}

// loaded styles
.loaded {
  
  #loader-wrapper {
    .loader-section {
      &.section-left {
        transform: translateX(-100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.45, 0.355, 1.000);
      }
      &.section-right {
        transform: translateX(100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.45, 0.355, 1.000);
      }
    }
  }
  
  #loader {
    opacity: 0;
    transition: all 0.8s ease-out;
  }
  
  #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.6s 1.4s ease-out;
  }
}


body {
	background-color: $bg-color;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: $default-font;
	overflow-x: hidden;
  color: $text;
  
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
  height: auto;
  
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "XoloniumBold", sans-serif;
}

h1 {
  font-size: 35px;
}

a {
  color: $link;
  transition: all .2s ease;
  &:hover, &:focus {
    color: lighten($color: $link, $amount: 8%);
  }
}

.button {
	display: inline-block;
	border: none;
	color: $dark;
	text-decoration: none;
	background-color: $accent;
  padding: 10px 40px;
  font-family: "XoloniumBold", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 15px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
  
	&::after {
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken($accent, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
	}
  
	&:focus, &:hover {
		text-decoration: none;
		color: $dark;
	}
  
	&:hover {
		background-color: lighten($accent, 5%);
		&::after {
			opacity: .22;
		}
	}
  
	&:active {
		background-color: darken($accent, 5%);
		&::after {
			opacity: .32;
		}
  }
  
}


// NAVIGATION
.navbar {
  background-color: #131313;
  padding: 1.5rem 2rem;
  font-family: "XoloniumRegular", sans-serif;
  text-transform: uppercase;
  // position: fixed;
  .navbar-brand {
    font-family: "XoloniumBold", sans-serif;
    color: $accent;
    &:hover, &:focus {
      color: $accent;
      cursor: pointer;
    }
  }
  
  .navbar-nav {
    
    .nav-item {
      &.active>a,
      &.active>a:hover,
      &.active>a:focus {
        background-color: $accent;
        border-radius: .5em;
        color: $bg-color;
      }
    }
    
    .nav-link {
      padding: 5px 9px;
      color: $accent;
      margin: 0 7px;
      
      &:last-child {
        margin: 0 0 0 7px;
      }
    }
  } 
}

.main-wrapper {
    padding: 220px 0;
    width: 100%;
    position: relative;
    
    &__circle {
      background: rgba($dark, .75);
      border-radius: 50%;
      width: 370px;
      height: 370px;
      border: 10px $accent solid;
      text-align: center;
      position: relative;
    }
    
    &__inner-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      height: 75%;
      border-radius: 50%;
    }
    
    &__photo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 20px $accent solid;
      border-radius: 50%
    }
    
    &__text-block {
      // background: rgba($dark, .55);
      width: 90%;
      span {
        text-transform: uppercase;
        color: $accent;
      }
    }
    
    &__icons {
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(-50%, 50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .icon {
        background-color: $accent;
        position: relative;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        &:not(:last-child) {
          margin-bottom: 25px; 
        }
        
        img {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 60%;
          height: auto;
          transition: all .5s ease-in-out;
          color: $accent;
          &:hover {
            transform: rotate(360deg);
            cursor: pointer;
          }
        }
      }
    }
  }


// TOOLS PAGE STYLES
.tools-wrapper {
  padding: 220px 0;
  position: relative;

  &__input {
    text-align: center;
    h1 {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  .table {
    color: $text;
    margin-top: 35px;

    thead {
      color: $accent;
    }
  }
}


// CONTACTS PAGE STYLES
  .contact-wrapper {
    padding: 260px 0;

    &__contact-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 280px;
      text-align: center;
      width: 100%;

      span {
        font-size: 18px;
      }

      a {
        font-size: 22px;
        font-family: "XoloniumBold", sans-serif;
      }
    }

    .contact-icons {
      display: flex;
      justify-content: space-around;
      width: 40%;
      &__item {
        background-color: $accent;
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        &:not(:last-child) {
          margin-bottom: 25px; 
        }
        
        img {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 60%;
          height: auto;
          transition: all .5s ease-in-out;
          color: $accent;
          &:hover {
            transform: rotate(360deg);
            cursor: pointer;
          }
        }
      }
    }
  }

  // RESUME PAGE STYLES
  .resume-wrapper {
    padding: 80px 0;

    h1 {
      text-align: center;
      margin-bottom: 50px;
    }

    &__info-wrap {
      margin-bottom: 25px;
      h2 {
        margin-bottom: 15px;
        color: $accent;
      }
    
    }

    &__info-block {
        padding: 0;
        li {
          list-style-type: none;
          // color: $accent;
          font-size: 18px;
          img {
            width: 1.5%;
          }
          &:not(:last-child) {
            margin-bottom: 5px;
          }
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
   
        }
        .text {
          margin: 20px 0;
          width: 100%;
        }
    }
  }


// FOOTER
footer {
  width: 100%;
  height: 110px;
  background-color: $dark;
  border-top: 2px$accent solid;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  
  .copywright {
    margin: auto;
  }
}



@import "media"; // Always at the end
